.row
  .col-md-offset-3.col-md-6.col-sx-offset-0.col-sx-12
    .container-fluid.form-box
      %h1 Editing product
      = render 'form'

.navigation-buttons
  = link_to 'Show', category_product_path(category, product)
  \|
  = link_to 'Back', category_path(category)
